{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<body>
<div class="card gedf-card border-info">
  <div class="card-header text-white bg-info">
      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
              <a class="nav-link text-white bg-info" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="true" href="#images" style="font-size: large;">New Post</a>
          </li>
      </ul>
  </div>
  <div class="card-body">
      <div class="tab-content " id="myTabContent">

          <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab" style="font-size: 150%;">
            <form method="POST" action="/" enctype="multipart/form-data">
            {{ post_form.csrf_token }}
            {{ post_form.hidden_tag() }}
              <div class="form-group">

                <div class="form-group">
                  <label class="text-info">Title</label>
                  {{post_form.title (class_='form-control', rows="3", style="font-size: 100%;") }}
                </div>

                <div class="form-group">
                  <label class="text-info">Description</label>
                  {{post_form.body (class_='form-control', rows="3", style="font-size: 100%;") }}
                </div>
                <div class="form-group">
                  <label class="text-info">Price</label>
                  {{post_form.price (class_='form-control', rows="3" , style="font-size: 100%;") }}
                </div>
                <div class="custom-file">
                  <label class="text-info">Image</label>
                    {{ post_form.pic (style="font-size: 100%;")}}
                </div>
                  <div class="btn-toolbar left-content-between">
                    <div class="btn-group" style="margin-top: 4%;">
                        {{ post_form.submit(class_='btn btn-info btn-lg', style="font-size: 100%;")}}
                    </div>
                    
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

<div id="postfeed">
  <div class="container-fluid  text-white bg-info " style="margin-top: 2%;" ><h2 style="margin: 2%;">Feed</h2></div>

<ul id="posts" style="padding-left: 0px;">
  {%for i in posts_table%}
  <div id="post" class="card gedf-card" style="margin-left: 0px; margin-right: 0px;">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mr-2">
            <img class="rounded-circle" width="50" height="50" src="static/img/Blue.png" alt="Author's picture">
          </div>
          <div class="ml-2">
            <div class="h5 m-0">{{i.author_username}}</div>
            <div class="h7 text-muted">{{i.author_email}}</div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          
            <h5 class="card-title text-info" style="font-size: 250%;">{{i.title}}</h5>
      

          <p class="card-text" style="font-size: 250%;">
            {{i.body}}
            <br>
            Price:{{i.price}}
          </p>
        </div>
        <div class="col">
          <div class="text-center">
            <img src="static/img/{{i.pic}}" alt="user photo" class="superbox-img" style="max-width: 50%; width: 100%;">
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-footer">
      {%if i.author_email == current_user.email%}
      <a href="/update/{{i.id}}"><button type="button" class="btn btn-default pull-right btn-lg" aria-label="edit">
          <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
        </button>
      </a>
      <a href="/delete/{{i.id}}"><button type="button" class="btn btn-default pull-right btn-lg" aria-label="edit">
          <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span>
        </button>
      </a>
      {%endif%}

    </div>
  </div>
  {%endfor%}
</ul>
</div>
</body>
<!-- <div id="newpost">
  {{ wtf.quick_form(post_form) }}

  <div class="formwrapper">
    <form method="POST" action="/" enctype="multipart/form-data">
      {{ post_form.csrf_token }}
      {{ post_form.hidden_tag() }}
      <div class="form-field">
        {{ post_form.title.label }}
        {{ post_form.title}}
      </div>
      <div class="form-field">
        {{ post_form.body.label }}
        {{ post_form.body }}
      </div>
      <div class="form-field">
        {{ post_form.price.label }}
        {{ post_form.price }}
      </div>
      <div class="form-field">
        {{ post_form.pic.label }}
        {{ post_form.pic }}
      </div>
      {{ post_form.submit }}
    </form>
  </div>

</div> -->

{% endblock %}