{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="font-size: 170%;">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center" style="font-size: 10%;">Sign In</h5>
              <form method="POST" action="/login" class="form-signin">

                {{ login_form.csrf_token }}

                <div class="form-label-group">
                  <label for="inputEmail">Email address</label>
                  {{ login_form.email }}

                  <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" style="font-size: 80%;" required autofocus> -->
                </div>
  
                <div class="form-label-group">
                  <label for="inputPassword">Password</label>

                  {{ login_form.password }}

                  <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" style="font-size: 80%;" required> -->
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" style="font-size: 80%;">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button> -->
                {{ login_form.submit }}

                <br>
                <p class="text-center log-or-reg-p">Not registered? <a href="/signup">Create account</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock %}
